* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0d1117;
  }
  html {
    font-family: "Nunito", sans-serif;
}
#menugeral {
  justify-content: space-between;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px -1px 11px -1px #000000;
  box-shadow: 0px -1px 11px -1px #000000;
  z-index: 5;
}
.menu {
  display: flex;
  list-style: none;
}
.item {
  margin-left: 3rem;
}
.logo {
  width: 100px;
  margin-right: 5rem;
}
#Inicio {
  padding-top: 30px;
  padding-bottom: 250px;
}
.title {
  margin-top: 250px;
  text-align: center;
  color: #04aa6d;
  font-weight: bold;
  text-shadow: 1px 3px 8px rgba(0, 196, 75, 0.603);
  font-size: 55px;
}
.title2 {
  color: white;
  text-align: center;
  margin-top: 5px;
  font-size: 23px;
}
.destaques {
  font-weight: bold;
  color: #04aa6d;
  text-shadow: 1px 1px 3px rgba(0, 196, 75, 0.603);
}
#Informacoes {
  color: white;
  padding-top: 200px;
  padding-bottom: 200px;
}
.info_text {
  box-shadow: 0px 0px 23px 5px rgba(255, 196, 0, 0.28);
  padding: 20px;
  border-radius: 7px;
  font-size: 25px;
  margin-right: 500px;
  margin-left: 100px;
}
.destaques2 {
  color: rgba(255, 196, 0, 0.712);
  text-shadow: 1px 1px 3px rgba(255, 196, 0, 0.603);
}
.info_img {
  position: absolute;
  left: 1000px;
  top: 950px;
  width: 250px;
}
#Portifolio {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .destaques3 {
    color: rgb(228, 50, 213);
    text-shadow: 1px 1px 3px rgba(247, 0, 255, 0.603);
  }
  .container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 180px;
  }
  .container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 7px;
  }
  .container .card .face.face1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 7px;
  }